.animate-fadein {
  animation: fade-in 1s ease-in-out;
}
.animate-fadein-2s {
  animation: fade-in 2s ease-in-out;
}
.animate-fadein-3s {
  animation: fade-in 3s ease-in-out;
}
.animate-slide-ltr {
  animation: slide-ltr 1s ease-in-out;
}
.animate-slide-rtl {
  animation: slide-rtl 1s ease-in-out;
}
.animate-slide-ttb {
  animation: slide-ttb 1s ease-in-out;
}
.animate-slide-btt {
  animation: slide-btt 1s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-ltr {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-rtl {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slide-ttb {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slide-btt {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
