// .bg-linear-gradient-01 {
//   background: linear-gradient(90deg, #dc412e 0%, #e681e8 13%, #0077ff 20%, #0077ff 100%);
// }
// .bg-linear-gradient-02 {
//   background: linear-gradient(90deg, #dc412e 10%, #f4b9b2 50%, #fff 100%);
// }
// .bg-linear-gradient-03 {
//   background: linear-gradient(90deg, #c0c0c0 20%, #fff 100%);
// }
// .bg-linear-gradient-04 {
//   background: linear-gradient(180deg, transparent 20%, #fbe8e6 100%);
// }
// // .main-background {
// //   background-image: url('/images/background/bg-primary.svg');
// //   background-position: 0 -80px;
// //   background-repeat: no-repeat;
// //   background-size: contain;

// //   @media screen and (max-width: 375px) {
// //     background-image: url('/images/background/bg-primary-375.svg');
// //     background-position: 0 -50px;
// //     background-repeat: no-repeat;
// //     background-size: contain;
// //   }
// // }
