// .el-button.base-button {
//   box-shadow: 0px 4px 12px 0px rgba(220, 65, 46, 0.48);
//   @apply flex items-center justify-center rounded-full bg-primary-01 px-4 py-[9px] lg:px-8 lg:py-3;
// }

// .el-button.base-button.base-button--secondary {
//   @apply rounded-2xl border border-solid border-neutral-gray-02 bg-neutral-white p-3;
// }

// .base-button {
//   box-shadow: 0px 4px 12px 0px rgba(220, 65, 46, 0.48);
//   @apply flex items-center justify-center rounded-full bg-primary-01 px-4 py-[9px] lg:px-8 lg:py-3;
// }

// .base-button.base-button--secondary {
//   @apply rounded-2xl border border-solid border-neutral-gray-02 bg-neutral-white p-3;
// }
