// .base-form.el-form {
//   .el-form-item {
//     margin-bottom: 16px;
//     .el-form-item__label {
//       margin-bottom: 4px !important;
//       font-size: 12px;
//       line-height: 18px;
//       font-weight: 500;
//     }
//     .el-form-item__content {
//       .el-input {
//         height: 44px;
//         .el-input__wrapper {
//           padding-left: 12px;
//           padding-right: 12px;
//           .el-input__inner {
//             font-size: 12px;
//             line-height: 18px;
//             font-weight: 500;
//           }
//         }
//       }
//     }
//   }
// }
