// .el-input.gradient-1 {
//   --el-input-height: 48px;
//   --el-input-border: #c0c0c0;
//   --el-input-hover-border: linear-gradient(90deg, rgba(220, 65, 46, 1) 0%, rgba(230, 129, 232, 1) 30%, rgba(0, 119, 255, 1) 100%);
//   --el-input-focus-border: linear-gradient(90deg, rgba(220, 65, 46, 1) 0%, rgba(230, 129, 232, 1) 30%, rgba(0, 119, 255, 1) 100%);
//   --el-input-focus-border-color: linear-gradient(90deg, rgba(220, 65, 46, 1) 0%, rgba(230, 129, 232, 1) 30%, rgba(0, 119, 255, 1) 100%);

//   .el-input__wrapper {
//     padding: 0;
//     box-shadow: none;
//     border: 1px solid var(--el-input-border);

//     @apply px-5 text-body2 font-medium;
//     .el-input__inner {
//       @apply text-primary-02-darken-40;
//     }
//     .el-input__inner::placeholder {
//       @apply text-neutral-gray-05;
//     }
//   }
// }
// .el-input.gradient-1.el-input--small {
//   --el-input-height: 32px;
//   font-size: 12px;
// }

// // focus, hover
// .el-input.gradient-1 {
//   .el-input__wrapper.is-focus,
//   .el-input__wrapper:hover {
//     box-shadow: none;
//     border: 1px solid transparent;
//     background:
//       linear-gradient(135deg, #fff, #fff) padding-box,
//       linear-gradient(90deg, rgba(220, 65, 46, 1) 0%, rgba(230, 129, 232, 1) 30%, rgba(0, 119, 255, 1) 100%) border-box;
//   }
// }

// .el-input.gradient-1.input-rounded {
//   .el-input__wrapper {
//     border-radius: calc(var(--el-input-height) / 2);
//   }
// }
