// .text-linear-primary-1 {
//   background: -webkit-linear-gradient(90deg, #dc412e 0%, #e681e8 13%, #0077ff 20%, #0077ff 100%);
//   background: linear-gradient(90deg, #dc412e 0%, #e681e8 13%, #0077ff 20%, #0077ff 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }
// .text-linear-primary-2 {
//   background: -webkit-linear-gradient(90deg, #dc412e 25%, #e681e8 30%, #0077ff 40%, #0077ff 100%);
//   background: linear-gradient(90deg, #dc412e 25%, #e681e8 30%, #0077ff 40%, #0077ff 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }
