<template>
  <NuxtLoadingIndicator />
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>

<script setup lang="ts">
  import { useMainStore } from './stores/main'

  const { setLocale } = useI18n()
  const mainStore = useMainStore()
  useHead({
    title: 'Dynamic UI HTML Template',
    meta: [{ name: 'description', content: 'Dynamic UI HTML Template' }]
    // bodyAttrs: {
    //   class: 'test'
    // },
    // script: [{ innerHTML: "console.log('Hello world')" }]
  })
  useSeoMeta({
    title: 'Dynamic UI',
    ogTitle: 'Dynamic UI',
    description: 'Dynamic UI',
    ogDescription: 'Dynamic UI',
    ogImage: 'https://ui-demo.aniadev.pro/images/UI.jpg',
    twitterCard: 'summary_large_image',
    ogUrl: 'https://ui-demo.aniadev.pro/',
    twitterTitle: 'Web builder v1.0',
    twitterDescription: 'Dynamic UI',
    twitterImage: 'https://ui-demo.aniadev.pro/images/UI.jpg'
  })

  onBeforeMount(async () => {
    //
    setLocale('en')
  })
</script>

<style lang="scss">
  @import './assets/scss';

  .page-enter-active,
  .page-leave-active {
    transition: all 0.4s;
  }
  .page-enter-from,
  .page-leave-to {
    opacity: 0;
    filter: blur(1rem);
  }
</style>
