.raw-html {
  max-width: unset !important;
  position: relative;
  display: inline-block;
  width: -webkit-fill-available;
  width: 100%;
  line-height: 1;

  @apply prose lg:prose-lg xl:prose-xl 2xl:prose-2xl prose-p:m-0 prose-p:leading-[1];
}
