.scroll-bar-primary {
  //   &:hover {
  //     &::-webkit-scrollbar {
  //       width: 4px;
  //       height: 4px;
  //       margin-top: 4px;
  //     }
  //     &::-webkit-scrollbar-thumb {
  //       background: #dbdbdb;
  //     }
  //   }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    // min-height: 50px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }

  &::-webkit-scrollbar-track {
    background-color: #dbdbdb;
    // background-color: transparent;
  }

  .scroll-bar-primary {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #d3d3d3;
      border-radius: 20px;
    }
  }
  .scroll-bar-hidden {
    &::-webkit-scrollbar {
      // visibility: hidden;
      display: none;
    }
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    // background: #747474;
    // background: transparent;
    background: #b3b3b3;

    border-radius: 5px;
  }

  /* Handle on hover */
  //   &::-webkit-scrollbar-thumb:hover {
  //     background: #9b9b9b;
  //   }
  @media screen and (max-width: 768px) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.scroll-bar-secondary {
  &::-webkit-scrollbar {
    width: 8px;
    background: #ececec;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #b6b6b6;
    border-radius: 20px;
  }
}
