@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,500;1,500&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

html {
  font-family: 'Mulish', 'Inter', sans-serif;
  font-style: normal;
}
body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@import './scrollbar';
@import './raw-html';
// @import './tinymce';

@import './base/form';
@import './base/animation';
@import './base/button';
@import './base/input';
@import './base/transition';
@import './base/border';
@import './base/background';
@import './base/text';
