<template>
  <el-result title="404" sub-title="Module not found">
    <template #icon>
      <el-image src="~/assets/icons/404.svg" />
    </template>
    <template #extra>
      <el-button type="primary">Back</el-button>
    </template>
  </el-result>
</template>

<script lang="ts" setup></script>

<style lang="scss" scoped></style>
