<template>
  <div class="main flex h-screen w-screen flex-col">
    <div class="w-full flex-grow bg-[#1E2329]">
      <slot></slot>
    </div>
    <MainMenu />
  </div>
</template>

<script lang="ts" setup>
  import MainMenu from '../components/layouts/MainMenu.vue'
</script>

<style lang="scss" scoped></style>
