<template>
  <div class="menu-bar-wrapper">
    <div class="menu-bar">
      <div class="indicator">
        <div class="indicator-lug"></div>
      </div>
      <div class="item" :class="[menuActive === 'MENU_SEARCH' && 'item--active']" @click="$e => setActiveItem('MENU_SEARCH', $e)">
        <div class="item-icon">
          <Icon name="ic:baseline-manage-search" size="24" />
        </div>
        <span class="item-label">Search</span>
      </div>
      <div class="item" :class="[menuActive === 'MENU_ADD' && 'item--active']" @click="$e => setActiveItem('MENU_ADD', $e)">
        <div class="item-icon">
          <Icon name="tabler:new-section" size="24" />
        </div>
        <span class="item-label">Add</span>
      </div>
      <div class="item item-center" :class="[menuActive === 'MENU_HOME' && 'item--active']" @click="$e => setActiveItem('MENU_HOME', $e)">
        <div class="pointer-events-none flex w-max flex-col items-end">
          <span class="item-center__title font-700 pointer-events-none text-base">tabtab</span>
          <span class="text-amber font-700 pointer-events-none text-base text-sm">.me</span>
        </div>
      </div>
      <div class="item" :class="[menuActive === 'MENU_MESSAGE' && 'item--active']" @click="$e => setActiveItem('MENU_MESSAGE', $e)">
        <div class="item-icon">
          <div class="item-icon-badge">4</div>
          <Icon name="ic:round-chat" size="24" />
        </div>
        <span class="item-label">Messenging</span>
      </div>
      <div class="item" :class="[menuActive === 'MENU_PROFILE' && 'item--active']" @click="$e => setActiveItem('MENU_PROFILE', $e)">
        <div class="item-icon">
          <Icon name="ic:baseline-person-pin" size="24" />
        </div>
        <span class="item-label">Profile</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
  const menuActive = ref('MENU_SEARCH')

  function setActiveItem(value: string, $e: any) {
    menuActive.value = value

    const itemActive = $e.target as HTMLDivElement
    const indicator = document.querySelector('.indicator') as HTMLDivElement
    indicator.style.width = `${itemActive?.clientWidth}px`
    indicator.style.left = `${itemActive?.offsetLeft}px`
  }

  onMounted(() => {
    const itemActive = document.querySelector('.item--active') as HTMLDivElement
    const indicator = document.querySelector('.indicator') as HTMLDivElement
    indicator.style.width = `${itemActive?.clientWidth}px`
    indicator.style.left = `${itemActive?.clientLeft}px`
    indicator.style.opacity = '1'
  })
</script>

<style lang="scss" scoped>
  .menu-bar-wrapper {
    $sidebar-bg: #fff;
    $item-height: 48px;
    $active-color: #1e2329;

    padding: 0 16px;
    background: $sidebar-bg;
    overflow: hidden;

    .menu-bar {
      // @apply relative mb-2 flex w-full items-center;
      position: relative;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in;

      .indicator {
        $indicator-size: 18px;
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        width: 0;
        height: $item-height;
        background: $active-color;
        transition: all 0.2s ease-in;
        border-bottom-left-radius: $indicator-size;
        border-bottom-right-radius: $indicator-size;
        .indicator-lug {
          position: relative;
          background: $active-color;
          width: calc(100% + 2 * $indicator-size);
          height: $indicator-size;
          transform: translateX(-$indicator-size);
          &::after,
          &::before {
            content: '';
            position: absolute;
            width: calc($indicator-size + 0.5px);
            height: calc($indicator-size + 0.5px);
            background: $sidebar-bg;
            top: 0;
          }
          &::after {
            left: -0.5px;
            border-top-right-radius: calc($indicator-size + 1px);
          }
          &::before {
            right: -0.5px;
            border-top-left-radius: calc($indicator-size + 1px);
          }
        }
      }

      .item {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        padding-top: 4px;
        user-select: none;

        &.item-center {
          width: 86px;
          flex: none;
          user-select: none;
        }

        .item-icon {
          position: relative;
          color: $active-color;
          pointer-events: none;
          .item-icon-badge {
            position: absolute;
            top: -2px;
            right: -5px;
            width: 12px;
            height: 12px;
            background: #f9c420;
            border-radius: 50%;
            font-size: 8px;
            line-height: 12px;
            text-align: center;
            color: $active-color;
          }
        }
        .item-label {
          margin-top: 0px;
          font-size: 10px;
          line-height: 16px;
          font-weight: 700;
          color: $active-color;
          pointer-events: none;
          margin-bottom: 2px;
        }

        &.item--active {
          &.item-center {
            .item-center__title {
              color: #f9c420;
            }
          }

          .item-icon {
            color: #f9c420;
          }
          .item-label {
            color: #f9c420;
          }
        }
      }
    }
  }
</style>
